*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
}
.container{
    /* border: 1px solid ; */
    width: 557px;
    margin:0 auto;
}
nav {
    background-color: #484848;
}
nav ul {
    list-style: none;
    display: flex;
    width: 557px;
    margin:0 auto;
}
nav a{
    display: block;
    /* padding: .5rem 1.5rem .5rem 0; */
    padding: .5rem 1rem;
    border-right: 1px solid #ccc;
    text-decoration: none;
    color: yellow;
}
nav a.active {
    background-color: #ccc;
    color: blue;
}
nav a:hover {
    color: blue;
    background-color: #ccc;
}